@import "./Styles/common.scss";
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import "./Styles/App.scss";
@import "./Styles/Navbar.scss";
@import "./Styles/Sidebar.scss";
@import "./Styles/main.scss";
@import "./Styles/Tags.scss";
@import "./Styles/Home.scss";
@import "./Styles/VideoItem.scss";
@import "./Styles/SearchBox.scss";
@import "./Styles/SideItem.scss";









*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
